body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header {
  background-color: #6943ff;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
h1 {
  margin: 0;
  color: white;
}
.form {
  display: flex;
  flex-direction: column;
  width: 140px;
}
input {
  height: 80px;
  margin-bottom: 30px;
  background: transparent;
  border: 3px solid #b295ff;
  border-radius: 6px;
  font-size: 60px;
  font-weight: bold;
  color: white;
  text-align: center;
}
input::placeholder {
  font-size: 60px;
  font-weight: bold;
  color: white;
  padding: 10px;
}
button {
  font-size: 20px;
  color: #3d3d3d;
  background: white;
  border: none;
  border-radius: 6px;
  padding: 14px;
  font-weight: 600;
}

p,
h3 {
  margin: 8px;
  letter-spacing: 1px;
}
h3 {
  color: #5a537b;
  font-weight: 500;
  font-size: 25px;
}
p {
  color: #5d5a5a;
  font-weight: 400;
}
.main-section {
  background: #f4f4f4;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
